
  body {
    background: rgb(230, 232, 233);
  }
  
  .skyblue {
    background: rgb(38, 77, 90);
  }
  
  .box{
    padding: 0px;
    background: rgb(53, 139, 139);
    height: 50px ;
    align-content: center;
  }
  
 .navbar {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom:10px;
    padding: 0px;
    background: rgb(247, 250, 250);
    }

    
  .navbar li {
    display: d-block;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
  }
  h1 {
    font-size: 30px;
     color:rgb(255, 255, 255);
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder
  
      }
  h2 {
    font-size: 25px;
    color:rgb(53, 139, 139);
    font-family: 'Times New Roman', Times, serif;
  }
  
  p{
      font-size: 15px;
      font-family: Helvetica;
  }
  
  .c-d{color:rgb(255, 255, 255);
    font-size: 30px;
  }
  
  .left {
    float: left;
    padding: 0 10px 0 0;
  }

  .index {
    color: rgb(170, 168, 168);
    font-family: Helvetica;
    font-size: 15px;
    background-color: rgb(251, 255, 255);
    padding: 15px;
  }

  @media (max-width: 500px) {
    .navbar li {
      padding: 10px;
    }
    .box {
      margin-right: 22px;
      margin-left: 22px;
      
    }
    .navbar ul {
      visibility: hidden;
    }
    #nav-select {
      visibility: visible;
    }
  }
  
  .col-1 {width: 8%;} 
  .col-2 {width: 17%;}
  .col-3 {width: 24%;}
  .col-4 {width: 32%;}
  .col-5 {width: 40%;}
  .col-6 {width: 50%;}
  .col-7 {width: 60%;}
  .col-8 {width: 65%;}
  .col-9 {width: 75%;}
  .col-10 {width: 82%;}
  .col-11 {width: 92%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 768px) {

      [class*="col-"] {
          width: 100%;
      }
  }